[Unit]
Description=Insync
After=network.target suspend.target auditd.service nss-lookup.target

[Service]
Type=simple
ExecStart=/home/brett/.bin-personal/insync-startup.sh
Restart=always
User=brett
Environment=XDG_RUNTIME_DIR=/run/user/$(id -u)
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy=default.target
