[Desktop Entry]
            Version=1.0
            Terminal=false
            Type=Application
            Name=Netflix
            Exec=/opt/google/chrome/google-chrome --profile-directory=NetflixProfile --app=https://www.netflix.com
            Icon=/home/brett/Pictures/netflix-icon.png
            Categories=GTK;WebApps;
            MimeType=text/html;text/xml;application/xhtml_xml;
            StartupWMClass=WebApp-Netflix
            StartupNotify=true
            X-WebApp-Browser=Chrome
            X-WebApp-URL=https://www.netflix.com/vn-en/Browse
            X-WebApp-CustomParameters=
            X-WebApp-Navbar=true
            X-WebApp-PrivateWindow=false
            X-WebApp-Isolated=true
            
