[Unit]
Description=Insync
After=network.target suspend.target auditd.service

[Service]
Type=simple
ExecStart=/usr/bin/insync
Restart=always
#StartLimitIntervalSec=10

[Install]
WantedBy=default.target
