[Unit]
Description=My VPN Connection
After=network.target

[Service]
Type=oneshot
ExecStartPre=sleep 15
ExecStart=/home/brett/.bin-personal/connect-to-vpn.sh

[Install]
WantedBy=multi-user.target
