[Unit]
Description=Run My Script After Wakeup
After=network.target suspend.target
Requires=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 40
ExecStart=/home/brett/.bin-personal/connect-to-vpn.sh

[Install]
WantedBy=multi-user.target
