[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brett/Desktop/brave-lodlkdfmihgonocnmddehnfgiljnadcf-Default.desktop]
row=4
col=0

[/home/brett/Desktop/brave-jnpecgipniidlgicjocehkhajgdnjekh-Default.desktop]
row=0
col=0

[/home/brett/Desktop/brave-pjibgclleladliembfgfagdaldikeohf-Default.desktop]
row=1
col=0

[/home/brett/Desktop/brave-kippjfofjhjlffjecoapiogbkgbpmgej-Default.desktop]
row=3
col=0

[/home/brett/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=2
col=0

