[Desktop Entry]
Name=Messenger
Comment=Chat with your friends on Facebook Messenger in standalone mode
Exec=brave --app="https://www.facebook.com/messages/e2ee/t/24984255867889691/"
Icon=/home/brett/Pictures/messenger-icon.png
Terminal=false
Type=Application
Categories=Network;Chat;
