[Desktop Entry]
Name=Netflix
Comment=Watch Netflix in Full Screen mode using Brave Browser
Exec=brave --app="https://www.netflix.com/browse"
Icon=/home/brett/Pictures/netflix-icon.png
Terminal=false
Type=Application
Categories=Network;Video;AudioVideo;
