[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Web App
Exec=google-chrome-stable --app="https://www.netflix.com/vn-en/Login" --class=WebApp-Netflix5934 --user-data-dir=/home/brett/.local/share/ice/profiles/Netflix5934
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-netflix
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Netflix5934
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://www.netflix.com/vn-en/Login
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
