[Desktop Entry]
            Version=1.0
            Terminal=false
            Type=Application
            Name=Netflix
            Exec=google-chrome-stable --new-window "https://www.netflix.com/vn-en/Browse" --class=WebApp-Netflix --user-data-dir=/home/brett/.local/share/ice/profiles/Netflix
            Icon=/home/brett/Pictures/netflix-icon.png
            Categories=GTK;WebApps;
            MimeType=text/html;text/xml;application/xhtml_xml;
            StartupWMClass=WebApp-Netflix
            StartupNotify=true
            X-WebApp-Browser=Chrome
            X-WebApp-URL=https://www.netflix.com/vn-en/Browse
            X-WebApp-CustomParameters=
            X-WebApp-Navbar=true
            X-WebApp-PrivateWindow=false
            X-WebApp-Isolated=true
            
