[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="web-netflix" firefox --class WebApp-Netflix1283 --profile /home/brett/.local/share/ice/firefox/Netflix1283 --no-remote "https://www.netflix.com/browse"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-netflix
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Netflix1283
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://www.netflix.com/browse
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
