[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/brett/Pictures/chatgpt-icon.png" firefox --class WebApp-ChatGPT1796 --profile /home/brett/.local/share/ice/firefox/ChatGPT1796 --no-remote "https://chat.openai.com/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/chatgpt-icon.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-ChatGPT1796
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://chat.openai.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
