[Desktop Entry]
Version=1.0
Name=Bard
Comment=Web App
Exec=google-chrome-stable --app="https://bard.google.com/chat" --class=WebApp-Bard1473 --user-data-dir=/home/brett/.local/share/ice/profiles/Bard1473
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/google-bard-icon.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Bard1473
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://bard.google.com/chat
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
