[Desktop Entry]
        Version=1.0
        Terminal=false
        Type=Application
        Name=Messenger
        Exec=firefox --new-window https://www.facebook.com/messages/t/5982819268494019/
        Icon=/home/brett/Pictures/messenger-icon.png
        Categories=GTK;WebApps;
        MimeType=text/html;text/xml;application/xhtml_xml;
        StartupWMClass=WebApp-Messenger
        StartupNotify=true
        X-WebApp-Browser=Firefox
        X-WebApp-URL=https://www.facebook.com/messages/t/5982819268494019/
        X-WebApp-CustomParameters=
        X-WebApp-Navbar=true
        X-WebApp-PrivateWindow=false
        X-WebApp-Isolated=true
        
