[Desktop Entry]
Version=1.0
Name=X
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="web-twitter" firefox --class WebApp-Twitter7510 --profile /home/brett/.local/share/ice/firefox/Twitter7510 --no-remote "https://twitter.com/home"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/x-icon.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Twitter7510
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://twitter.com/home
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
Path=
