[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/brett/Pictures/messenger-icon.svg" firefox --class WebApp-Messenger5483 --name WebApp-Messenger5483 --profile /home/brett/.local/share/ice/firefox/Messenger5483 --no-remote "https://www.facebook.com/messages/t/100012979988525/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/messenger-icon.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Messenger5483
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://www.facebook.com/messages/t/100012979988525/
X-WebApp-CustomParameters=
X-WebApp-Navbar=true
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
Path=

