[Desktop Entry]
        Version=1.0
        Terminal=false
        Type=Application
        Name=Bitwarden
        Exec=firefox --new-window https://vault.bitwarden.com/#/login
        Icon=/home/brett/Pictures/bitwarden-icon.png
        Categories=GTK;WebApps;
        MimeType=text/html;text/xml;application/xhtml_xml;
        StartupWMClass=WebApp-Bitwarden
        StartupNotify=true
        X-WebApp-Browser=Firefox
        X-WebApp-URL=https://vault.bitwarden.com/#/login
        X-WebApp-CustomParameters=
        X-WebApp-Navbar=true
        X-WebApp-PrivateWindow=false
        X-WebApp-Isolated=true
        
