[Desktop Entry]
Version=1.0
Name=Zalo
Comment=Web App
Exec=google-chrome-stable --app="https://chat.zalo.me/" --class=WebApp-Zalo3516 --user-data-dir=/home/brett/.local/share/ice/profiles/Zalo3516
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/zalo-icon.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Zalo3516
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://chat.zalo.me/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
