[Desktop Entry]
Version=1.0
Name=X (Twitter)
Comment=Web App
Exec=google-chrome-stable --app="https://twitter.com/home?lang=en" --class=WebApp-XTwitter2275 --user-data-dir=/home/brett/.local/share/ice/profiles/XTwitter2275
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/x-icon.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-XTwitter2275
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://twitter.com/home?lang=en
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

