[Desktop Entry]
Version=1.0
Name=Patreon
Comment=Web App
Exec=google-chrome-stable --app="https://www.patreon.com/home" --class=WebApp-Patreon1326 --user-data-dir=/home/brett/.local/share/ice/profiles/Patreon1326
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/patreon-icon.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Patreon1326
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://www.patreon.com/home
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
