[Desktop Entry]
Version=1.0
Name=Grok
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/brett/Pictures/grok-icon.svg" firefox --class WebApp-Grok8707 --name WebApp-Grok8707 --profile /home/brett/.local/share/ice/firefox/Grok8707 --no-remote "https://twitter.com/i/grok"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/grok-icon.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Grok8707
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://twitter.com/i/grok
X-WebApp-CustomParameters=
X-WebApp-Navbar=true
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
